manifest {
    name            = 'QualityPipeline'
    author          = 'Michelle R & Yonathan B.J.R'
    homePage        = 'https://github.com/Michelle-Ramos/Bioinformatics'
    description     = 'RNA quality assurance pipeline'
    mainScript      = 'rnaSeq.nf'
    nextflowVersion = '!>=22.10.3'
    version         = '1.0.0'
}
